@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestionale Hotel</h1>
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <h3>Utente autenticato: @User.Identity.Name</h3>
    <h4>Ruolo:</h4>
    <ul>
        @foreach (var ruolo in ViewBag.Roles as List<string>)
        {
            <li>@ruolo</li>
        }
    </ul>
}
else
{
    <h3>Utente non autenticato</h3>
}

